@use './colors';

.bar {
  background: transparent;
  color: var(--on_surface);
  font-weight: bold;

  .bar-container {
    background: var(--surface);
    border-radius: var(--shape-corner-full);
    min-width: 50rem;
    margin: .75rem 1rem .75rem .25rem;
    padding: .5rem;
  }

  .date-time {
    font-weight: 900;
    margin-left: 1rem;
    border-radius: 8px;
    font-family: Inter Display;

    > box {
      margin-top: -3px;
    }

    .date {
      font-size: 8px;
    }

    .time {
      font-size: 16px;
      font-feature-settings: 'tnum';
      margin-bottom: -3px;
    }
  }

  .workspaces {
    .workspace-indicator {
      color: var(--secondary_container);
    }

    .workspace-active {
      color: var(--secondary);
    }

    .workspace-focused {
      color: var(--primary);
    }
  }

  .tray {
    background: var(--surface_container);
    border-radius: var(--shape-corner-full);
    transition: background-color 250ms ease-out;
    padding-left: 5px;

    button {
      background: transparent;
      padding: 0 5px;
    }
  }

  .shutdown {
    color: var(--error);
    margin-top: .5rem;

    &:hover {
      background: var(--error-state-layer-1);
    }

    &:active {
      background: var(--error-state-layer-2);
    }
  }
}
